# Copie este arquivo para .env e preencha os valores

# Gere com: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=sua-chave-secreta-aqui

# Desenvolvimento: True | Produção: False
DEBUG=True

# Hosts permitidos (produção): seu-dominio.com,www.seu-dominio.com
ALLOWED_HOSTS=127.0.0.1,localhost

# Ativar HTTPS em produção
SECURE_SSL_REDIRECT=False
